/* Delete item in treeview */

div.treeview ul, div.treeview ul li {
    list-style-type: none  !important;
    list-style: none !important;
    margin-left: 0 !important;
    padding-left: 1em !important;
}

.text-red {
    color: red;
}
.text-green {
    color: green;
}
.text-gray {
    color: gray;
}
